<header class="header">
	<a href="/" class="header__logo">Joga Powszechna</a>
	<nav class="header__nav">
		<ul>
			<li>
				<a href="/">Strona główna</a>
			</li>
			<li>
				<a href="/">O mnie</a>
			</li>
			<li>
				<a href="/">Kontakt</a>
			</li>
		</ul>
	</nav>
	<div class="header__button">
		<button class="searchBtn" aria-expanded="false">Szukaj</button>
	</div>
</header>
